@import 'config/*.css';
@import 'components/*.css';

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 10px;
}

body {
    font-family: $font;
    font-weight: 800;
}

body::after {
    content: '';
    display: block;
    margin: 2.4rem 3rem;
    border: 2rem solid $blue;

    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
}

#background, #background::before, #background::after {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#background {
    background: resolve('backgrounds/steps.jpg') no-repeat center center;
    background-size: cover;
}

#background::before {
    content: '';
    background-color: $blue;
    opacity: 0.7;

    mix-blend-mode: lighten;
}

#background::after {
    content: '';
    background-color: white;
    opacity: 0.7;
}

#app {
    position: relative;
    z-index: 10;

    width: 100%;
    height: 100%;
}
